<%= simple_form_for @treatment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :veterinarian_id %>
  <%= f.input :treatment_date %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                treatments_path, :class => 'btn' %>
  </div>
<% end %>
