<%= simple_form_for @treatment do |f| %> <!--, :html => { :class => 'form-horizontal' }-->
  <% @owner = Owner.where(:user_id => current_user.id).first %>
  <%= f.label :pet %>
  <%= collection_select(:pet_id, nil, Pet.where(:owner_id => @owner.id), :id, :name, {:include_blank => "", :selected => (@pet_id || 0)}) %>
  <br><br>
  <%= f.label :veterinarian %>
  <%= collection_select(:treatment, :veterinarian_id, Veterinarian.all, :id, :name_with_lastname, {:include_blank => "", :selected => (@veterinarian_id || 0) }) %>
  <%#= f.input :veterinarian_id %>
  <br><br>
  <%= f.input :treatment_date %>
  <br><br>
  <%= f.label "Treatment Type:" %>
  <br><table border=0><tr>
  <td><%= f.input :vaccination %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= f.input :deworming %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= f.input :operation %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td></tr></table>
  <br><br>
  <%= f.input :details %>
  <br><br>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                treatments_path, :class => 'btn' %>
  </div>
<% end %>
