<%- model_class = Pet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pet.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner_id) %>:</strong></dt>
  <dd><%= @pet.owner.name %>&nbsp;<%= @pet.owner.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birth_date) %>:</strong></dt>
  <dd><%= @pet.birth_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:colour) %>:</strong></dt>
  <dd><%= @pet.colour %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><% if @pet.sex? %><%= "Male" %><% else %><%= "Female" %><% end %><%#= @pet.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sterilized) %>:</strong></dt>
  <dd><% if @pet.sterilized? %><%= "Yes" %><% else %><%= "No" %><% end %></td></dd>
  <dt><strong><%= model_class.human_attribute_name(:available_to_breed) %>:</strong></dt>
  <dd><% if @pet.available_to_breed? %><%= "Yes" %><% else %><%= "No" %><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deceased) %>:</strong></dt>
  <dd><% if @pet.deceased? %><%= "Yes" %><% else %><%= "No" %><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:death_date) %>:</strong></dt>
  <dd><% if @pet.death_date.nil? %><%= "-" %><br><% else %><%= @pet.death_date %><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_id) %>:</strong></dt>
  <dd><%= @pet.type.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breed_id) %>:</strong></dt>
  <dd><%= @pet.breed.name %></dd>
</dl>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pets_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pet_path(@pet), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pet_path(@pet),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
