<%- model_class = Advertisement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th><%= model_class.human_attribute_name(:placement_date) %></th>
      <th><%#= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= link_to advertisement.id, advertisement_path(advertisement) %></td>
        <td><%# @u = User.where(:id => advertisement.user_id).first %>
            <%# if @u.role == "owner" %>
              <%# @o = Owner.where(:user_id => @u.id) %>
              <%#= @o.name %><!--&nbsp;--><%#= @o.lastname %> 
            <%# elsif @u.role == "advertiser" %>
              <%# @a = Advertiser.where(:user_id => @u.id).first %>
              <%#= @a.name %><!--&nbsp;--><%#= @a.lastname %>
            <%# end %>

            <% if Owner.where(:user_id => advertisement.user_id).first %>
              <% @ow = Owner.where(:user_id => advertisement.user_id).first %>
              <%= @ow.name_with_lastname %>
            <% elsif Advertiser.where(:user_id => advertisement.user_id).first %>
              <% @ad = Advertiser.where(:user_id => advertisement.user_id).first %>
              <%= @ad.name_with_lastname %>
            <% end %>

        </td> <!--advertisement.user_id-->
        <td><%= advertisement.details %></td>
        <td><%= advertisement.updated_at %></td>
        <td><%#=l advertisement.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      advertisement_path(advertisement), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_advertisement_path(advertisement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      advertisement_path(advertisement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_advertisement_path,
            :class => 'btn btn-primary' %>
<br><br>