<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pet_id) %>:</strong></dt>
  <dd><%= @sale.pet.name %>,&nbsp;Type:&nbsp;<%= @sale.pet.type.name %>,&nbsp;Breed:&nbsp;<%= @sale.pet.breed.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><% if @sale.price == 0.0 %><%= "For Adoption" %><% else %><%= @sale.price %><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sold) %>:</strong></dt>
  <dd><% if @sale.sold? %><%= "Yes" %><% else %><%= "No" %><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_sold) %>:</strong></dt>
  <dd><%if @sale.sold? %><%= @sale.date_sold %><% else %><%= "-" %><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @sale.details %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sales_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sale_path(@sale), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sale_path(@sale),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
